@{
    ViewData["Title"] = "Thêm mới nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .formStyle {
        width: 700px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .btnFormCss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-bottom: 50px;
    }

    .previews {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 15px auto;
        box-shadow: 0 0 10px grey;
        width: 90%;
    }

    .previewImage {
        width: 100px
    }

    .UploadImage {
        /*overflow-y: auto;
                height: 300px;*/
    }

    .chooseFileCss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid grey;
        padding-top: 20px;
        margin-top: 30px;
    }

    .UploadImage::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .UploadImage::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    .UploadImage::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }
</style>
<div class="formStyle">
    <form method="post" action="" enctype="multipart/form-data" class="user" id="formSubmit">

        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Mã</label>
                <input type="text" class="form-control form-control-user" id="Code" name="Code"
                       placeholder="Mã" />
            </div>
            <div class="col-sm-6">
                <label>Tên</label>
                <input type="text" class="form-control form-control-user" id="Name" name="Name"
                       placeholder="Tên" />
            </div>
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            <textarea class="form-control form-control-user"
                      id="Decription" name="Decription" placeholder="Mô tả"></textarea>
        </div>

        <div class="form-group">
            <div class="chooseFileCss">
                <p>Logo: </p>
                <input id="file" type="file" />
            </div>
        </div>

        <div class="btnFormCss">
            <input type="submit" class="btn btn-primary btn-user btn-block" value="Lưu lại" />
            <a href="/Admin/Supplier/Index" class="btn btn-google btn-user btn-block" style="margin:0;">
                Hủy bỏ
            </a>
        </div>
    </form>
</div>

@section scripts {
    <script>
        $(function () {
            let files = null;
            let strUploadImage = function (file) {
                return `<div class="previews"><img class="previewImage" src="${URL.createObjectURL(file)}" alt="logo" /><p>File name: ${file.name}</p></div>`;
            }
            $('#file').change(function () {
                $('.previews').remove();
                $('.UploadImage').remove();

                files = $(this).prop('files');

                if (files.length === 0) return;

                $('.chooseFileCss').after(`<div class="UploadImage"></div>`);
                $('.UploadImage').append(strUploadImage(files[0]));
            });


            $('#formSubmit').submit(function (e) {
                e.preventDefault();
                let postData = new FormData(this);
                //postData.append('Image', $('#file').prop('files'));
                if (files && files.length > 0) {
                    postData.append('Images', files[0]);
                }
                $.ajax({
                    url: '/Admin/Supplier/Create',
                    data: postData,
                    type: "post",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (savingStatus) {
                        window.location.href = '/Admin/Supplier/Index';
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('bbbbbbbb');
                    }
                });
            });

        });

    </script>
    }

